<h1>Zoznam poznámok</h1>

<div class="zoznam">
  <div *ngFor="let note of notes" class="card text-bg-dark mb-3" id="card">
    <div class="card-header">
      <b>{{note.title}}</b>
      <div>
        <button type="button" class="btn btn-outline-light"> <fa-icon [icon]="faPen"></fa-icon></button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteNote(note.id)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{note.content}}</p>
      <p class="card-text" style="opacity: 1; color:grey">Note created at: <b>{{note.created_at}}</b></p>
    </div>
  </div>

</div>