h1 {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.zoznam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.card-header b {
  color: white;
  text-transform: uppercase;
}

.card-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  flex: 0 1 calc(33.333% - 10px);
  margin: 5px;
  box-sizing: border-box;
}

b {
  margin: 5px;
}

button {
  margin: 5px;
}
