.card{
    width: 600px;
}

.cardflex{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.form-floating{
    margin: 20px;
}

.custom-textarea {
    background-color: #2b3035 !important;
    color: #ffffff !important;
}

.custom-label {
    color: #ffffff !important;
}