.card{
    width: 500px;
    


}

.cardflex{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.form-floating{
    margin: 20px;
}